.validation-badge{
    display: inline-block;
}

.resource-list .validation-badge{
    float: right;
    margin-right: 150px;
    margin-top: 5px;
}

.validation-badge p.badge-link{
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}
